{% extends 'base.html.twig' %} 

{% block title %}Liste des sessions d'une formation{% endblock %}

{% block body %}

    <h2>Liste des sessions pour la formation : {{ formation.nomFormation }}</h2>

    {% if formation.sessions is not empty %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom de la session</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Nombre de places</th>
                    <th>Voir détails</th>
                </tr>
            </thead>
            <tbody>
                {% for session in formation.sessions %}
                    <tr>
                        <td>{{ session.intitule }}</td>
                        <td>{{ session.dateDebut|date('d/m/Y') }}</td>
                        <td>{{ session.dateFin|date('d/m/Y') }}</td>
                        <td>{{ session.nbPlace }}</td>
                        <td>
                            <a href="{{ path('app_session_show', {'id': session.id}) }}">Voir session</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>Aucune session trouvée pour cette formation.</p>
    {% endif %}

    <a href="{{ path('app_formations') }}">Retour à la liste des formations</a>

{% endblock %}
