{% extends 'base.html.twig' %} 

{% block title %}Liste des sessions d'une formation{% endblock %}

{% block body %}

<div class="d-flex justify-content-between align-items-center mb-5">
    <h2>{{ formation.nomFormation }}</h2>
    <a href="{{ path('app_formations') }}" class="backBtn" role="button">
        <span class="text">Retour à la liste des formations</span>
    </a>
</div>


    {% if formation.sessions is not empty %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom de la session</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Nombre de places</th>
                    <th>Places réservées</th>
                    <th>Places restantes</th>
                    <th>Détails</th>
                    <th>Suppr.</th>
                    <th>Editer</th>
                </tr>
            </thead>
            <tbody>
                {% for session in formation.sessions %}
                
                    <tr>
                        <td>{{ session.intitule }}</td>
                        <td>{{ session.dateDebut|date('d/m/Y') }}</td>
                        <td>{{ session.dateFin|date('d/m/Y') }}</td>
                        <td>{{ session.nbPlace }}</td>
                        <td>{{ session.nbPlacesReservees }}</td>
                        <td>{{ session.nbPlacesRestantes }}</td>

                        <td>
                            <a href="{{ path('app_session_show', {'id': session.id}) }}">
                                <img src="{{ asset('img/check.png') }}" alt="image checkbox pour voir les détails de la session" width="25">
                            </a>
                        </td>
                        
                        <td>
                            <a href="{{ path('formation_remove_session', {'formation': formation.id, 'session': session.id}) }}"
                               class="btn btn-outline-danger btn-sm"
                               onclick="return confirm('Voulez-vous vraiment supprimer cette session de la formation ?');">
                                Suppr
                            </a>
                        </td>
                    
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>Aucune session trouvée pour cette formation.</p>
    {% endif %}

    <a href="{{ path('new_session') }}" class="button-64" role="button">
        <span class="text">Ajouter une session</span>
    </a>

  

{% endblock %}
