{% extends 'base.html.twig' %}

{% block title %}Sessions à venir{% endblock %}

{% block body %}

    <h1>Sessions à venir</h1>

    <ul>
        {% for session in sessions %}
            <li>
                {{ session.intitule }} - 
                {{ session.dateDebut|date('d/m/Y') }} - 
                {{ session.dateFin|date('d/m/Y') }} - 
                {{ session.nbPlace }} places totales - 
                {{ session.nbPlacesReservees }} réservées - 
                {{ session.nbPlacesRestantes }} restantes
            </li>
        {% else %}
            <p>Aucune session à venir.</p>
        {% endfor %}
    </ul>

{% endblock %}
