{% extends 'base.html.twig' %}

{% block title %}Sessions à venir{% endblock %}

{% block body %}

    <h1>Sessions à venir</h1>

    {% if sessions is not empty %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Intitulé de la session</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Places totales</th>
                    <th>Places réservées</th>
                    <th>Places restantes</th>
                </tr>
            </thead>
            <tbody>
                {% for session in sessions %}
                    <tr>
                        <td>{{ session.intitule }}</td>
                        <td>{{ session.dateDebut|date('d/m/Y') }}</td>
                        <td>{{ session.dateFin|date('d/m/Y') }}</td>
                        <td>{{ session.nbPlace }}</td>
                        <td>{{ session.nbPlacesReservees }}</td>
                        <td>{{ session.nbPlacesRestantes }}</td>

                        <td>
                            <a href="{{ path('app_session_show', {'id': session.id}) }}">Voir détails</a>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune session à venir.</p>
    {% endif %}

{% endblock %}
