{% extends 'base.html.twig' %}

{% block title %}Modules de la session{% endblock %}

{% block body %}

    <h1>Modules pour la session: <br> {{ session.intitule }}</h1>

    {% if session.programmes is not empty %}
        <ul>
            {% for programme in session.programmes %}
                <li>
                    {{ programme.module.nomModule }} - 
                    Durée : {{ programme.nbJour }} 
                    {{ programme.nbJour == 1 ? 'jour' : 'jours' }}  {#}afficher "jour" au singulier si nbJour = "1". Sinon afficher "jours"{#}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun module trouvé pour cette session.</p>
    {% endif %}

    <a href="{{ path('app_formation_show', {'id': session.formation.id}) }}">
        Retour aux sessions de la formation
    </a>
    

{% endblock %}
