{% extends 'base.html.twig' %}

{% block title %}Modules de la session{% endblock %}

{% block body %}

    <h1>{{ session.intitule }}</h1>

    
    <a href="{{ path('app_formation_show', {'id': session.formation.id}) }}" class="backBtn" role="button">
        <span class="text">Retour aux sessions de la formation</span>
    </a>
    

    {#}Tableau des modules de la session{#}
    {% if session.programmes is not empty %}
    <h3>Modules de la session</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Intitulé</th>
                    <th>Durée</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for programme in session.programmes %}
                    <tr>
                        <td>{{ programme.module.nomModule }}</td>
                        <td>
                            {{ programme.nbJour }} 
                            {#}afficher "jour" au singulier si nbJour = "1". Sinon afficher "jours"{#}
                            {{ programme.nbJour == 1 ? 'jour' : 'jours' }} 
                        </td>
            
                        <td>
                             <a href="{{ path('app_session_remove_programme', { 'id': session.id, 'programme_id': programme.id }) }}"
                               class="btn btn-outline-danger btn-sm"
                               onclick="return confirm('Voulez-vous vraiment retirer ce module de la session ?');">
                                Supprimer
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun module trouvé pour cette session.</p>
    {% endif %}


    {# Formulaire pour ajouter un nouveau programme dans la session #}
    <div class="sectionForm">
        <p class="titleP">Ajouter un nouveau programme</p>
        <form method="post" action="{{ path('app_session_show', {'id': session.id}) }}">
            <div class="form-group" id="labelProg">
                {{ form_start(form) }}
                
                <label for="programme_module"  >Module</label>
                {{ form_widget(form.module, {'attr': {'class': 'form-control', 'id': 'programme_module'}}) }}
    
                <label for="programme_nbJour">Nombre de jours</label>
                {{ form_widget(form.nbJour, {'attr': {'class': 'form-control', 'id': 'programme_nbJour'}}) }}

            </div>
            <button type="submit" class="btn btn-outline-success btn-sm">Ajouter</button>
            {{ form_end(form) }}
        </form>
    </div>


     {# Formulaire pour ajouter un stagiaire #}
     <div class="sectionForm">
        <p class="titleP">Ajouter un stagiaire</p>
        <form method="post" action="{{ path('session_add_stagiaire', {'id': session.id}) }}">
            <div class="form-group">
                <label for="stagiaire">Sélectionner dans la liste :</label>
                <select name="stagiaireId" id="labelStag" class="form-control">
                    {% for stagiaire in stagiairesNonInscrits %}
                        <option value="{{ stagiaire.id }}">{{ stagiaire.nom }} - {{ stagiaire.email }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-outline-success btn-sm">Ajouter</button>
        </form>
        </div>


    {# Tableau des stagiaires inscrits dans la session #}
    <div class="section-principale">
    {% if session.stagiaires is not empty %}
    <h3>Stagiaires inscrits</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom du stagiaire</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for stagiaire in session.stagiaires %}
                    <tr>
                        <td>{{ stagiaire.nom }}</td>
                        <td>{{ stagiaire.email }}</td>
                        <td>
                            <a href="{{ path('session_remove_stagiaire', {'session': session.id, 'stagiaire': stagiaire.id}) }}"
                               class="btn btn-outline-danger btn-sm"
                               onclick="return confirm('Voulez-vous vraiment retirer ce stagiaire de la session ?');">
                                Supprimer
                            </a>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun stagiaire inscrit pour cette session.</p>
    {% endif %}
    </div>


    {# Tableau des stagiaires non inscrits dans la session #}
    {% if stagiairesNonInscrits is not empty %}
    <h3>Stagiaires non inscrits</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom du stagiaire</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for stagiaire in stagiairesNonInscrits %}
                <tr>
                    <td>{{ stagiaire.nom }}</td>
                    <td>{{ stagiaire.email }}</td>
                    <td>
                        <form method="post" action="{{ path('session_add_stagiaire', {'id': session.id}) }}">
                            <input type="hidden" name="stagiaireId" value="{{ stagiaire.id }}">
                            <button type="submit" class="btn btn-outline-success btn-sm">
                                Ajouter
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Tous les stagiaires sont déjà inscrits à cette session.</p>
    {% endif %}


    

{% endblock %}

