{% extends 'base.html.twig' %}

{% block title %}Modules de la session{% endblock %}

{% block body %}

    <h1>Modules pour la session: <br> {{ session.intitule }}</h1>

    <a href="{{ path('app_formation_show', {'id': session.formation.id}) }}">
        Retour aux sessions de la formation
    </a>


    {#}Tableau des modules de la session{#}
    {% if session.programmes is not empty %}
    <h3>Modules enregistrés</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Intitulé</th>
                    <th>Durée</th>
                </tr>
            </thead>
            <tbody>
                {% for programme in session.programmes %}
                    <tr>
                        <td>{{ programme.module.nomModule }}</td>
                        <td>
                            {{ programme.nbJour }} 
                            {#}afficher "jour" au singulier si nbJour = "1". Sinon afficher "jours"{#}
                            {{ programme.nbJour == 1 ? 'jour' : 'jours' }} 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun module trouvé pour cette session.</p>
    {% endif %}

        
    {# Tableau des stagiaires inscrits dans la session #}
    {% if session.stagiaires is not empty %}
    <h3>Stagiaires inscrits</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom du stagiaire</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for stagiaire in session.stagiaires %}
                    <tr>
                        <td>{{ stagiaire.nom }}</td>
                        <td>{{ stagiaire.email }}</td>
                        <td>
                            <a href="{{ path('session_remove_stagiaire', {'session': session.id, 'stagiaire': stagiaire.id}) }}"
                               class="btn btn-outline-danger btn-sm"
                               onclick="return confirm('Voulez-vous vraiment retirer ce stagiaire de la session ?');">
                                Supprimer
                            </a>
                        </td>
                    </tr>
                    
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun stagiaire inscrit pour cette session.</p>
    {% endif %}

    

{% endblock %}

