{% extends 'base.html.twig' %}

{% block title %}Modules de la session{% endblock %}

{% block body %}

    <h1>Modules pour la session: <br> {{ session.intitule }}</h1>

    {% if session.programmes is not empty %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Module</th>
                    <th>Durée</th>
                </tr>
            </thead>
            <tbody>
                {% for programme in session.programmes %}
                    <tr>
                        <td>{{ programme.module.nomModule }}</td>
                        <td>
                            {{ programme.nbJour }} 
                            {#}afficher "jour" au singulier si nbJour = "1". Sinon afficher "jours"{#}
                            {{ programme.nbJour == 1 ? 'jour' : 'jours' }} 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun module trouvé pour cette session.</p>
    {% endif %}

    <a href="{{ path('app_formation_show', {'id': session.formation.id}) }}">
        Retour aux sessions de la formation
    </a>

{% endblock %}

